.hide{
    display: none;
}

.hook-pagination{
    display: flex;
    list-style-type: none;
}

.hook-pagination .page-item{
    margin: 0 3px;
    cursor: pointer;
    padding: .5rem 1rem;

}

.hook-pagination .two-dig{
    padding: .5rem .78rem;
}

.hook-pagination .three-dig{
    padding: .5rem .50rem;
}

.hook-pagination .page-item:hover{
    color:  #131319;
    border-radius: 3px;
    transition: all .3s;
    background-color: #67f4e6;
    -webkit-transition: all .3s;
}

.hook-pagination .page-item.active{
    color:  #131319;
    border-radius: 3px;
    background-color: #67f4e6;
}

.page-item.disabled{
    opacity:0.6;
    pointer-events: none;
}

.page-item.disabled.ellipsis{
    opacity:0.6;
    padding: .5rem 0;
    pointer-events: none;
}