.header-container {
    display: flex;
}

.player-image {
    width: 158px;
    height: 170px;
}

.header-container .title{
    width: 100%;
    height: 60px;
    background-color: #1e4249;
    clip-path: polygon(0 0, 93.5% 0, 100% 100%, 75% 100%, 0% 100%);
    padding-left: 5px;
    font-size: 45px;
    color: white;
}