@font-face {
  font-family: "Bebas-Bold";
  src: url(./fonts/BebasNeueBold.otf) format("truetype");
}

@font-face {
  font-family: "Bebas-Light";
  src: url(./fonts/BebasNeueLight.otf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
}

html {
  color: white;
  font-size: 15px;
}

body {
  color: #ffffff;
  font-family: "Bebas-Bold";
}

.MuiInputBase-input {
  color: cyan;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #102e2f;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2a4d53;
}

*:focus {
  outline: none;
}

.MuiInput-underline:after {
  border-bottom: 2px solid #ffffff !important;
}

.MuiFormLabel-root.Mui-focused {
  color: #ffffff !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #ffffff !important;
}

.MuiFormControlLabel-label {
  font-family: Bebas-Bold !important;
}

.MuiFormLabel-root {
  font-family: Bebas-Bold !important;
}

.background-login {
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background: url(../src/assets/img/backgroundLogin.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center;
  width: 100%;
  /* height: 100vh; */
}

.highcharts-drillup-button .highcharts-button-box+text {
  fill: red !important;
}

.background-main.background-dashboard {
  background-size: cover;
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  font-family: Bebas-Bold;
  text-transform: uppercase;
  background: url(../src/assets/img/backgroundDashboard.jpeg);
  background-repeat: round;
}

.background-main {
  background-size: cover;
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  font-family: Bebas-Bold;
  text-transform: uppercase;
  background: url(../src/assets/img/backgroundImage.png);
  background-repeat: no-repeat;
  background-size: 100%;
  color: #ffffff;
}

.highcharts-credits {
  display: none;
}

.MuiTooltip-tooltip {
  transform: scale(1.6) !important;
}

.background-main .side-bar-container .side-bar-container-head,
.background-main .side-bar-container .side-bar-container-footer {
  display: flex;
  overflow: hidden;
  position: relative;
}

.background-main .side-bar-container .side-bar-container-body {
  text-align: center;
}

.background-main .side-bar-container .side-bar-container-body .side-bar-logo {
}

[class*="materialui-daterange-picker-makeStyles-filled"] {
  background-color: #061618 !important;
}

[class*="materialui-daterange-picker-makeStyles-outlined"] {
  border: 1px solid #061618 !important;
}

[class*="materialui-daterange-picker-makeStyles-highlighted"] {
  background-color: rgba(0, 0, 0, 0.3) !important;
}

[class*="materialui-daterange-picker-MuiInput-underline"]:after {
  border-bottom: rgba(0, 0, 0, 0.3) !important;
}

.background-main
  .side-bar-container
  .side-bar-container-body
  .side-bar-logo
  .img-logo {
  max-width: 50%;
}

.background-main .side-bar-container .side-bar-container-footer {
  overflow: hidden;
  transform: rotate(180deg);
}

.section-container .section-container-body {
  padding: 1rem 0 1rem 1rem;
}

.section-container .section-container-body .section-body {
  min-height: 70px;
  overflow: auto;
  max-height: calc(100vh - 5.5rem);
}

.section-body .dash-container {
  margin: 0;
}

.section-container .section-container-body .container-breadcrum {
  display: flex;
  cursor: pointer;
  margin: 0 0 1rem;
}

.section-container
  .section-container-body
  .container-breadcrum
  .breadcrum-item {
  font-size: 1.2rem;
  margin-right: 2px;
  padding: 0.1em 1.5rem 0;
  background: #1e4249;
}

.section-container
  .section-container-body
  .container-breadcrum
  .breadcrum-item.active {
  background: #0a1a24;
}

.dash-container {
  flex-direction: column;
  margin-top: -1rem !important;
}

.row-container.dash .MuiGrid-root {
  max-width: calc(25% - 4.5rem);
}

.row-container.dash .MuiGrid-root:first-child {
  margin-left: 4px !important;
}

.row-container.dash .MuiGrid-root:last-child {
  margin-right: 4px !important;
}

.dash-container {
  flex-direction: column;
  margin-top: -1rem !important;
}

.row-container.dash .MuiGrid-root {
  max-width: calc(25% - 4.5rem);
}

.side-bar-container .side-bar-container-body .side-bar-title {
  padding: 15px;
}

@media only screen and (min-width: 1920px) {

  .background-main.background-dashboard{
    background-size: contain;
  }
}

@media only screen and (max-width: 480px) {

  .MuiGrid-root.background-main.background-dashboard .MuiGrid-root.side-bar-container{
    display: none;
  }

  .MuiGrid-root.section-container.MuiGrid-item {
    width: 100%;
  }

  .section-container-head div:first-child{
    min-width: 100%;
  }
}

